
<%=link_to 'CSVエクスポート', gift_codes_path(format: 'csv')%>

<h2>CSVインポート</h2>

<%= form_tag import_gift_codes_path, multipart: true do %>
    <%= file_field_tag :csv_file %>
    <%= submit_tag "アップロード" %>
<% end %>


<h2>キャンペーンコード管理</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ステータス</th>
    <th>ギフトコード</th>
    <th>送信ユーザー</th>
    <th>送信サイト</th>
    <th>送信日時</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @gift_codes.each do |gift_code| %>
      <tr>
        <td><%= gift_code.status %></td>
        <td><%= gift_code.code %></td>
        <td><%= gift_code.customer_id %></td>
        <td><%= gift_code.user_id %></td>
        <td><%= gift_code.sent_at %></td>
        <td><%= link_to 'ステータス変更', '#', class: "btn btn-primary" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

