<%= form_for(@customer) do |f| %>
    <div class="form-group">
      <%= f.label :name, "お名前" %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Eメール" %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :applied_at, "お申し込み日時" %>
      <%= f.datetime_field :applied_at , class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contract_id, "ご契約ID" %>
      <%= f.number_field :contract_id, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :user_id, "経由メディア" %>
      <%= f.collection_select(:user_id, User.all, :id, :site_name,
                              {include_blank: true},
                              class: "form-control"
          )
      %>
    </div>
    <%= f.submit current_user.nil? ? "お申し込み" : "更新", class: 'btn btn-primary' %>

<% end %>